body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    background:#000000;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.container{
    width:80%;
    max-width:800px;
    background:rgb(255, 0, 0);
    padding:40px;
    border-radius:15px;
    box-shadow:0 0 20px rgba(0,0,0,.2);
}

h1,h2{
    text-align:center;
}

.intro{
    text-align:center;
    font-size:18px;
}

.tool{
    background:#f4f4f4;
    padding:15px;
    margin:15px 0;
    border-radius:10px;
}

ol{
    line-height:2;
}

button{
    display:block;
    margin:30px auto 0;
    padding:15px 30px;
    font-size:18px;
    border:none;
    border-radius:10px;
    background:#000000;
    color:white;
    cursor:pointer;
}

button:hover{
    background:#ff1100;
}